/*background*/
@media(prefers-color-scheme: dark) {
  body {
    background-color: #000000;
  }
  
  .h1_1 {
    color: #576CA8;
    text-shadow: 0 0 4px #576CA8;
  }
  .h2_1 {
    color: FFFFFF;
  }
}

@media(prefers-color-scheme: light) {
  body {
    background-color: #oooooo;
  }
  
  .h1_1 {
    color: #576CA8;
  }
  .h2_1 {
    color: 000000;
  }
}
/*fim do background*/

.h1_1 {
    text-align: center;
}

.h2_1 {
    text-align: center;
}